.nav {
  position: sticky;
  top: 0;
  z-index: 2;
  height: var(--navbar-height);
  padding: 12px;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0 2px 5px -2px #a8a8a8;
}

.title {
  display: flex;
  align-items: center;
}

.text {
  margin-left: 8px;
}
