.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  padding-top: var(--navbar-height);
  margin-top: calc(var(--navbar-height) * -1);
}

.sidebarInner {
  height: 100%;
  padding: 24px 32px;
  overflow: scroll;
  border-right: 1px solid var(--color-border);
}
